/* This is just an example.  You shouldn't do this. */
#bugzillalinkgrabber-hello
{
  color: red ! important;
}
div.bugzilla-bug {
  font-size: small;
  color: #333333;
  border: 1px solid #999999;
  margin: 1em 0em;
}
